
</div>
</main>
<div class="footerId" style="" class="col-12">
          <img  class="our_team_img" style="" src="/img/anand.jpg" alt="">
          <br><p style="font-size:2.2rem;" class="name">Anand <span style="font-weight:500 !important;">Sinha</span></p>
          <!-- <p style="width:50%;margin:0 auto; padding:0; positi">Mail: sinhaanand@icloud.com</p> -->
          <h3 style="font-weight:600;">Full-Stack Web Developer</h3>
          <p class="desc" style="">Anand is self-motivated and self-taught professional who likes to solve problems. He merge a passion for usability and user experience with technical knowledge to create cool digital experiences. <br>Anand's repertoire includes programming languages and tools such as HTML, CSS, JavaScript, NodeJS, ReactJS, Wordpress, MySQL, SASS, Twitter Bootstrap, jQuery, and more.</p>
        </div>
        <section class="contact_us">
          <h2 style="text-align:center; color:#888">Get In Touch</h2>
          <form class="" action="mailto:sinhaanand@icloud.com" method="post">
            <input type="text" name="first_name" value="" placeholder="First Name">
            <input type="text" name="last_name" value="" placeholder="Last Name">
            <input type="email" name="email" value="" placeholder="Email ID">
            <input style="margin-top: 50px" type="submit" name="" value="Contact Me" placeholder="Contact Me">
          </form>
        </section>
        <div class="copy">
          <h4>Made with ❤️ by Anand Sinha</h4>
        </div>
<!-- <div class="footer-padding">
  <div class="footer">
    <p></p>
  </div>
</div> -->
</body>
</html>
