<%- include('partials/header.ejs') %>

  <body>
    <section class="headerSection" style=" background-size:cover;">
      <div class="header">
        <h1>About</h1>
          <a href="/compose"><button type="button" name="button">Contribute to our blog!</button></a>
      </div>
    </section>
    <div style="display:none;" class="container">
      <main>
<h1>About</h1>
<p>
  <%= msg %>
</p>
<%- include('partials/footer.ejs') %>
