<%- include('partials/header.ejs') %>

<body>
  <section class="headerSection" style="background-size:cover;">
    <div class="header">
      <h1>Compose</h1>
        <!-- <a href="/compose"><button type="button" name="button">Contribute to our blog!</button></a> -->
    </div>
  </section>
    <div class="container">
      <main>
<h1>Compose</h1>
<form class="compose" action="/compose" method="post">
  <label for="title">Title</label>
  <input type="text" class="form-control input-margin" name="title" placeholder="Blog Title">
  <label for="post">Post</label>
  <textarea name="post" class="form-control input-margin" rows="4" cols="30" placeholder="Enter your post here"></textarea>
  <label for="name">Author's Name</label>
  <input type="text" class="form-control input-margin" name="name" placeholder="Author's Name">
  <button class="btn btn-primary" type="submit">Publish</button>
</form>
<%- include('partials/footer.ejs') %>
